.treasure_search {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  img {
    margin: 0 auto;
  }
}

.text_p2 {
  margin: 24px 0;
  text-align: right;
}

.button {
  margin-top: 24px;
}
