@import './normalize.scss';
@import './vars.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//TODO: poner color default blanco
html,
body {
  font-family: $font2;
  scroll-behavior: smooth;
  color: $color--white;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}
h1 {
  @include font-size(42px);
}
h2 {
  @include font-size(36px);
}
h3 {
  @include font-size(30px);
}
h4 {
  @include font-size(24px);
}
h5 {
  @include font-size(18px);
}
h6 {
  @include font-size(16px);
}
p {
  font-family: $font2;
  @include font-size(16px);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px 8px;
}
